/* src/styles/AddRecipes.module.css */

.containerAddRecipes {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.formAddRecipes {
  flex: 2;
  margin-right: 20px;
}

.inputGroupAddRecipes {
  margin-bottom: 15px;
}

.inputGroupAddRecipes label {
  display: block;
  margin-bottom: 5px;
}

.inputGroupAddRecipes input,
.inputGroupAddRecipes textarea,
.inputGroupAddRecipes select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

textareaAddRecipes {
  resize: vertical;
}
.buttonAddRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark-blue);
  color: var(--cream);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 161px;
  border-radius: 24px 44px;
}

.buttonAddRecipes:hover {
  background-color: var(--green);
}

.popularRecipesAddRecipes {
  flex: 1;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
}

.popularRecipesAddRecipes h2 {
  margin-top: 0;
}

.popularRecipesAddRecipes ul {
  list-style: none;
  padding: 0;
}

.popularRecipesAddRecipes li {
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .containerAddRecipes {
    flex-direction: column;
  }

  .formAddRecipes {
    margin-right: 0;
  }

  .popularRecipesAddRecipes {
    margin-top: 20px;
  }
}
