/* src/styles/AddRecipePage.module.css */

.mainWrapper {
  margin-top: 72px;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .mainWrapper {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .mainWrapper {
    display: flex;
    justify-content: space-between;
  }
}

.followUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  margin-bottom: 100px;
}

.followUsTitle {
  font-weight: 500; /* Replace with your theme's font weight if available */
  font-size: 24px;
  line-height: 1.5; /* Replace with your theme's line height if available */
  letter-spacing: 0.02em; /* Replace with your theme's letter spacing if available */
  color: #333; /* Replace with your theme's color if available */
}

.containerAddRecipes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formAddRecipes {
  flex: 2;
  margin-right: 20px;
}

.inputGroupAddRecipes {
  margin-bottom: 15px;
}

.inputGroupAddRecipes label {
  display: block;
  margin-bottom: 5px;
}

.inputGroupAddRecipes input,
.inputGroupAddRecipes textarea,
.inputGroupAddRecipes select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.textareaAddRecipes {
  resize: vertical;
}

.buttonAddRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark-blue);
  color: var(--cream);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 161px;
  border-radius: 24px 44px;
}

.buttonAddRecipes:hover {
  background-color: var(--green);
}

.popularRecipesAddRecipes {
  width: 30%;
  padding: 10px;
  background: #f4f4f4;
  border-left: 2px solid #eee;
  border-radius: 5px;
}

.popularRecipesAddRecipes h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.popularRecipesAddRecipes ul {
  list-style: none;
  padding: 0;
}

.popularRecipesAddRecipes li {
  margin-bottom: 10px;
}

.containerFollowUs {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleFollowUs {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.socialLinks {
  list-style: none;
  padding: 0;
}

.socialItem {
  margin-bottom: 10px;
}

.socialLink {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
}

.socialLink:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .containerAddRecipes {
    flex-direction: column;
  }

  .formAddRecipes {
    margin-right: 0;
  }

  .popularRecipesAddRecipes {
    margin-top: 20px;
  }
}
