:root {
  --cream: #fafafa;
  --light-green: #ebf3d4;
  --green: #8baa36;
  --dark-blue: #22252a;
  --light-grey: #d9d9d9;
  --dark-grey: #c4c4c4;
}

.categoryMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.categoryButton {
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #bdbdbd;
  font-family: "Poppins";
  border-radius: 0;
}

.categoryButton:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.active {
  border-bottom: 2px solid var(--green);
  color: var(--green);
}

.categoryRecipesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.categoryRecipeCard {
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #23262a;
}

.categoryErrorMessage {
  color: red;
}
/* zmiany */
.categoriesRecipeList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  align-items: center;
}

.categoriesRecipeItems {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: 323px;
  gap: 20px;
  grid-row-gap: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.categoriesRecipeItem {
  position: relative;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.categoriesRecipeItem:hover {
  transform: scale(1.05);
}

.categoriesRecipeImage {
  width: 300px;
  height: 323px;
  object-fit: cover;
  border-radius: 10px;
}

.categoriesRecipeTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--cream);
  color: #3e4462;
  text-align: left;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  width: 268px;
  height: 52px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.categoriesRecipeItem:hover .categoriesRecipeTitle {
  background-color: var(--light-green);
}

.categoriesErrorMessage {
  color: red;
}

/* Style dla listy i pozycji przepisu */
/* .categoriesRecipeList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categoriesRecipeItem {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.categoriesRecipeItem:hover {
  transform: scale(1.05);
}

.categoriesRecipeImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  gap: 14 px;
}

.categoriesRecipeTitle {
  position: absolute;
  width: calc(100% - 72px);
  bottom: 0;
  background-color: var(--cream);
  color: #3e4462;
  text-align: left;
  justify-content: center;
  font-weight: 500;
  margin: auto 18px 32px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.categoriesRecipeItem:hover .categoriesRecipeTitle {
  background-color: var(--light-green);
} */
