/* CategoriesPage.module.css */

.categoriesPage {
  padding: 20px;
}

.categoryMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.categoryButton {
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #bdbdbd;
  font-family: Poppins;
}

.categoryButton:hover {
  color: #8baa36;
  border-bottom: 2px solid #8baa36;
}

.active {
  border-bottom: 2px solid #8baa36;
  color: #8baa36;
}

.categoryRecipesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryRecipeCard {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #23262a;
}

.categoryErrorMessage {
  color: red;
}
