.favoriteContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}
.favoriteTitle {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favoriteTitle {
    font-size: 32px;
    margin-top: 72px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .favoriteTitle {
    font-size: 44px;
    margin-top: 104px;
    margin-bottom: 50px;
  }
}
.favoriteRecipesContainer {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favoriteRecipesContainer {
    margin-top: 28px;
  }
}
@media (min-width: 1280px) {
  .favoriteRecipesContainer {
    margin-top: 28px;
  }
}
.favDescContainer {
  /* width: 100vh; */
  box-sizing: border-box;
}
.favoriteRecipeCard {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  flex-direction: row;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 9px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favoriteRecipeCard {
    margin-top: 28px;
    padding-bottom: 28px;
    padding-left: 24px;
  }
}
@media (min-width: 1280px) {
  .favoriteRecipeCard {
    margin-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}
.seeRecipeBtn {
  width: 87px;
  height: 27px;
  background-color: black;
  color: var(--cream);
  border: none;
  cursor: pointer;
  border-radius: 24px 44px;
  /* position: absolute; */
  font-family: "Poppins", sans-serif;
  padding: 0;
  font-weight: 300;
  font-size: 10px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .seeRecipeBtn {
    width: 138px;
    height: 45px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .seeRecipeBtn {
    width: 160px;
    height: 54px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
  }
}

.favRecipeTitle {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-left: 14px;
  color: #3e4462;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favRecipeTitle {
    padding-left: 24px;
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .favRecipeTitle {
    padding-left: 40px;
    font-size: 24px;
  }
}
.favDescription {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 8px;
  /* padding-top: 42px; */
  padding-left: 14px;
  /* max-width: 170px; */
  line-height: 1.3;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favDescription {
    font-size: 14px;
    padding-left: 24px;
  }
}
@media (min-width: 1280px) {
  .favDescription {
    font-size: 18px;
    padding-left: 40px;
  }
}

.favImg {
  width: 124px;
  height: 124px;
  border-radius: 7%;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favImg {
    width: 228px;
    height: 232px;
  }
}
@media (min-width: 1280px) {
  .favImg {
    width: 318px;
    height: 324px;
  }
}

.favTime {
  padding-left: 14px;
  padding-top: 15px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .favTime {
    padding-left: 24px;
    padding-top: 83px;
  }
}
@media (min-width: 1280px) {
  .favTime {
    padding-left: 40px;
    padding-top: 96px;
  }
}
.trashButton {
  width: 24px; /* Szerokość ikony */
  height: 24px; /* Wysokość ikony */
  background: #ebf3d4;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .trashButton {
    width: 38px; /* Szerokość ikony */
    height: 38px; /* Wysokość ikony */
  }
}
@media (min-width: 1280px) {
  .trashButton {
    width: 44px; /* Szerokość ikony */
    height: 44px; /* Wysokość ikony */
  }
}

.trash-button svg {
  width: 11px; /* Szerokość ikony */
  height: 12px; /* Wysokość ikony */
  color: #22252a; /* Ustaw kolor ikonki na kolor tekstu */
}

/* Klasa do stylizacji samej ikony SVG */
.trash-button svg path {
  fill: currentColor; /* Dziedziczy kolor z 'color' */
}
.favButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* align-content: flex-start; */
  height: 100%;
  box-sizing: border-box;
}
.favWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Opcjonalnie wyrównanie elementów w pionie */
  width: 100%; /* lub inna wartość, w zależności od potrzeb */
  box-sizing: border-box;
}
