.mainTable{
    width: 1240px; 
    border: none;
    border-collapse: separate;
    border-spacing: 0 50px
}

.mainTableRow{
background-color: #8BAA36;
border-radius: 8px;
border: none;
}

.mainDiv{
    margin-top: 50px;
    display: flex;
    justify-content: center
}
 .thHead{
    padding-top: 20px;
    padding-bottom: 20px;

 }

  .thHeadRight {
    padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
  }

  .thHeadRightAddToList {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      margin-right: 40px;

  }

 .thHeadLeft{
    padding-top: 20px;
    padding-bottom: 20px;
 }

thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.trList{
   background-color: #EBF3D4;
}

.leftAllign{
    text-align: left;
    padding-left: 40px;
    padding-bottom: 0px;
    padding-top: 0px
}

.rightAllignCheck{
    text-align: right;
}

.rightAllign {
    text-align: right;
        padding-left: 70px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

img {
    width: 128px;
    height: 128px;
}

.thImg{
    width: 182px;
    height: 182px;
}

.measureText{
    min-width: 52px;
    height: 27px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FAFAFA;
    margin: 0;
}

.measureDiv{
        min-width: 68px;
            height: 35px;
            border-radius: 4px;
            background-color: #8BAA36;
            display: inline-block;
            margin-right: 30px;
            margin-top: 72px;
            text-align: center;
}


.pHead{
font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FAFAFA;
    text-align: center;
}

label{
    position: relative;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 20px;
        right: 70px;
        margin: 0;

}

.checkboxContainer{
    position: absolute;
        top:-5px;
        left: 0;
        height: 35px;
        width: 35px;
        background-color: transparent;
        border: 2px solid #7e7e7e7c;
        border-radius: 4px;

}

label input[type=checkbox] {
     visibility: hidden;
 }


  /* Checkmark */
  .checkboxContainer::after {
      content: "";
      position: absolute;
      display: none;
      left: 13px;
      top: 3px;
      width: 17px;
      height: 17px;
      border: solid #8BAA36;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);;
      transform-origin: center;
  }

  /* Display checkmark when checked */
  label input:checked~.checkboContainer::after {
      display: block;
      color: #8BAA36;
      }

 .checkbox:checked+.checkboxContainer::after {
              display: block;
                width: 6px;
                height: 17px;
                border: solid #8BAA36;
                border-width: 0 2px 2px 0;
                
          }