/* src/styles/RegisterPage.module.css */

.registerPageContainer {
  padding: 87px 20px 118px 20px;
  width: 100%;
  min-height: 812px;
  height: 100vh;
  background-color: #fafafa;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  display: flex;
  justify-content: center;
}

.link {
  margin-top: 10px;
  color: blue;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
