/* src/styles/WelcomePage.module.css */

/* .welcomeContainer {
  background: url("../images/welcomePage.png") no-repeat center center/cover;
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
  position: relative;
} */

.logoIcon {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: auto;
}

.welcomeTitle {
  font-size: 2rem;
  color: #fff;
}

.welcomeSubtitle {
  color: #fff;
  font-size: 1.2rem;
}
