/* src/components/AddRecipes/RecipePreparationFields/RecipePreparationFields.module.css */

.containerRecipePreparationFields {
  margin-bottom: 18px;
  position: relative;
  font-family: "Poppins";
  width: 505px;
  height: 280px;
}

.titleRecipePreparationFields {
  font-weight: 600; /* Możesz dostosować do wartości z theme */
  font-size: 24px;
  line-height: 1.2; /* Dostosuj do wartości z theme */
  letter-spacing: 0.5px; /* Możesz dostosować do wartości z theme */
  color: #333; /* Możesz dostosować do wartości z theme */
  margin-bottom: 32px;
  font-family: "Poppins";
  padding: 0;
  color: #3e4462;
}

.textareaRecipePreparationFields {
  font-family: inherit;
  /* border-radius: 4px; Możesz dostosować do wartości z theme */
  border: none;
  width: 100%;
  height: 154px; /* Możesz dostosować do wartości z theme */
  overflow-y: auto;
  resize: none;
  /* padding: 10px 16px; */

  background: #d9d9d9; /* Możesz dostosować do wartości z theme */
  color: #333; /* Możesz dostosować do wartości z theme */

  &::placeholder {
    font-size: 14px; /* Możesz dostosować do wartości z theme */
    line-height: 1.5; /* Możesz dostosować do wartości z theme */
    color: #888; /* Możesz dostosować do wartości z theme */
    letter-spacing: 0.5px; /* Możesz dostosować do wartości z theme */
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Możesz dostosować do wartości z theme */
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    height: 60px;
    border-radius: 12px;
    background-color: #888; /* Możesz dostosować do wartości z theme */
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    height: 224px;
    padding: 16px 23px;

    &::placeholder {
      font-size: 18px;
    }
  }
}

.errMessage {
  position: absolute;
  top: 98%;
  left: 0;
  font-size: 14px;
  line-height: 1.5; /* Możesz dostosować do wartości z theme */
  letter-spacing: 0.5px; /* Możesz dostosować do wartości z theme */
  color: #e74c3c; /* Możesz dostosować do wartości z theme */
}
