/* src/components/AddRecipes/FollowUs/FollowUs.module.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.containerFollowUs {
  padding: 20px;
  background-color: var(--cream);
  border-radius: 8px;
  text-align: left;
}

.titleFollowUs {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.24px;
  margin-bottom: 40px;
}

.socialLinksFollowUs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.socialItemFollowUs {
  display: flex;
  align-items: center;
}

.socialLinkFollowUs {
  display: block;
  width: 28px; /* Ustawiamy szerokość kontenera ikon */
  height: 28px; /* Ustawiamy wysokość kontenera ikon */
}

.icon {
  width: 100%; /* Dopasowuje ikonę do szerokości kontenera */
  height: 100%; /* Dopasowuje ikonę do wysokości kontenera */
  fill: var(--green); /* Kolor ikon */
  transition: fill 0.3s; /* Płynna zmiana koloru */
}

.icon:hover {
  fill: var(--dark-blue); /* Kolor ikon przy hoverze */
}
